# Data Collection
Permasalahan yang sering ditemui saat ingin mencari data adalah data tersebut berbentuk pdf dimana tidak jarang memaksa kita untuk input data secara manual. Hal ini tentu membutuhkan banyak waktu dan tenaga. Oleh karena itu akan di bagikan cara menconvert data dari pdf ke dalam format excel dan documents.

## Connect Gdrive kedalam Colab
Pada tutorial telah dijelaskan bagaimana step by step mengkoneksikan gdrive kedalam collab.
Apabila mengalami kesulitan pada tahap ini, mohon dibaca "PANDUAN MENGGUNAKAN GOOGLE COLABORATORY" secara seksama

In [ ]:
# Mengakses google drive ke dalam google colaboratory
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## Import Packages/Library
Dalam turorial ini, anda akan diajarkan untuk convert data dengan library yang terdapat dalam python. 
- Tabula Documentation : https://tabula-py.readthedocs.io/en/latest/
- pdf2docx converter Documentation : https://dothinking.github.io/pdf2docx/quickstart.convert.html

Akan tetapi ke-2 library yang akan digunakan bukan merupakan bawaan notebook, oleh karena itu diperlukan install library secara independent. Berikut caranya

In [ ]:
# Install library tabula untuk convert pdf to excel (read tables in pdf into DataFrame)
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.5.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [ ]:
# Install library pdf2docx untuk convert pdf to document
!pip install pdf2docx

Requirement already satisfied: pdf2docx in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: PyMuPDF>=1.18.5 in /usr/local/lib/python3.7/dist-packages (from pdf2docx) (1.18.13)
Requirement already satisfied: fire>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from pdf2docx) (0.4.0)
Requirement already satisfied: python-docx>=0.8.10 in /usr/local/lib/python3.7/dist-packages (from pdf2docx) (0.8.11)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from fire>=0.3.0->pdf2docx) (1.15.0)
Requirement already satisfied: termcolor in /usr/local/lib/python3.7/dist-packages (from fire>=0.3.0->pdf2docx) (1.1.0)
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx>=0.8.10->pdf2docx) (4.2.6)

In [ ]:
# Import Packages/Library
import os
import tabula
from pdf2docx import Converter

In [ ]:
# Inisiasi directory tempat data akan dibaca dan disimpan
path = "gdrive/MyDrive/Mini Course/DATA/" #silahkan masukkan path sesuai dengan letak data di drive masing-masing

In [ ]:
# Cek directory untuk memastikan data tersimpan di dalamnya
os.listdir(path)

['Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf']

## Convert Pdf to .xlsx and .csv format
Dalam mengconvert file pdf kedalam excel kita akan menggunakan module tabula. Ada beberapa argument yang ditambahkan untuk membantu mengatur spesifikasi output yang diharapkan.

In [ ]:
# Read PDf file
df = tabula.read_pdf(path + 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf', pages = 1, lattice = True, multiple_tables=True)[0]

Got stderr: May 24, 2021 1:34:36 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
May 24, 2021 1:34:36 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [ ]:
# Menampilkan 5 data teratas dari file
df.head()

  Kabupaten/Kota\rRegency/Municipality  ...             Unnamed: 0
0                                  NaN  ...  Belanja\rExpenditures
1                                  (1)  ...                    (3)
2                    Kabupaten/Regency  ...                    NaN
3                              Pacitan  ...   1 665 549 144 945,82
4                             Ponorogo  ...   2 322 805 767 564,09

[5 rows x 3 columns]

Perhatikan table diatas, dalam penamaan nama kolom, formatnya masih kurang rapi, selain itu ada kolom-kolom yang masuk ke dalam baris.

In [ ]:
# Cleaning data
df_clean = df.iloc[3:].reset_index(drop=True) #mengambil data dari baris index ke-3, dan mereset index agar mulai dari 0

df_clean.columns = [df.columns[0],df['2018'][0],df['Unnamed: 0'][0]] #rename nama kolom

In [ ]:
# Menampilkan 5 data teratas dari file
df_clean.head()

  Kabupaten/Kota\rRegency/Municipality  ... Belanja\rExpenditures
0                              Pacitan  ...  1 665 549 144 945,82
1                             Ponorogo  ...  2 322 805 767 564,09
2                           Trenggalek  ...  1 946 046 774 834,78
3                          Tulungagung  ...  2 800 598 386 012,13
4                               Blitar  ...  2 456 663 058 142,18

[5 rows x 3 columns]

In [ ]:
# Cleaning data columns
df_clean.columns = df_clean.columns.str.replace('\r', '/') # Mengganti "\r" menjadi spasi
df_clean

   Kabupaten/Kota/Regency/Municipality  ...   Belanja/Expenditures
0                              Pacitan  ...   1 665 549 144 945,82
1                             Ponorogo  ...   2 322 805 767 564,09
2                           Trenggalek  ...   1 946 046 774 834,78
3                          Tulungagung  ...   2 800 598 386 012,13
4                               Blitar  ...   2 456 663 058 142,18
5                               Kediri  ...   3 149 740 395 312,47
6                               Malang  ...   4 050 668 474 662,23
7                             Lumajang  ...   2 256 619 621 618,47
8                               Jember  ...   4 163 624 940 931,97
9                           Banyuwangi  ...   2 932 152 201 493,82
10                           Bondowoso  ...   2 171 884 322 387,31
11                           Situbondo  ...   1 849 288 303 240,09
12                         Probolinggo  ...   2 325 106 278 976,72
13                            Pasuruan  ...   3 376 868 296 332,53
14                            Sidoarjo  ...   5 005 097 845 031,35
15                           Mojokerto  ...   2 672 024 585 315,54
16                             Jombang  ...   2 832 829 111 562,94
17                             Nganjuk  ...   2 617 124 429 605,65
18                              Madiun  ...   1 812 000 389 361,00
19                             Magetan  ...   1 921 830 391 205,08
20                               Ngawi  ...   2 172 957 671 262,18
21                          Bojonegoro  ...   3 628 531 299 762,72
22                               Tuban  ...   2 596 899 799 569,44
23                            Lamongan  ...   2 950 680 611 024,51
24                              Gresik  ...   3 036 339 122 030,74
25                           Bangkalan  ...   2 260 903 470 049,51
26                             Sampang  ...   1 834 655 838 274,49
27                           Pamekasan  ...   2 138 127 562 564,00
28                             Sumenep  ...   2 486 861 383 624,00
29                   Kota/Municipality  ...                    NaN
30                              Kediri  ...   1 425 225 617 136,69
31                              Blitar  ...     972 204 365 136,51
32                              Malang  ...   2 360 831 551 277,57
33                         Probolinggo  ...     907 766 807 435,83
34                            Pasuruan  ...   1 006 333 411 941,04
35                           Mojokerto  ...     978 603 405 644,03
36                              Madiun  ...   1 285 587 599 826,46
37                            Surabaya  ...   1 066 290 673 712,87
38                                Batu  ...   9 268 450 333 673,00
39                          Jawa Timur  ...  96 705 773 242 481,70

[40 rows x 3 columns]

In [ ]:
#Cleaning Data Content
df_clean = df_clean.drop(labels=29, axis=0) #hapus baris index ke-29
df_clean['Pendapatan/Revenues'] =  df_clean['Pendapatan/Revenues'].str.replace(" ", "").str.replace(",", ".") #hapus spasi dan ubah tanda koma menjadi titik
df_clean['Belanja/Expenditures'] =  df_clean['Belanja/Expenditures'].str.replace(" ", "").str.replace(",", ".") #hapus spasi dan ubah tanda koma menjadi titik

In [ ]:
#Cek Tipe Data
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 39
Data columns (total 3 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Kabupaten/Kota/Regency/Municipality  39 non-null     object
 1   Pendapatan/Revenues                  39 non-null     float64
 2   Belanja/Expenditures                 39 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.2+ KB

In [ ]:
df_clean['Pendapatan/Revenues'] = df_clean['Pendapatan/Revenues'].astype(float)
df_clean['Belanja/Expenditures'] = df_clean['Belanja/Expenditures'].astype(float)

In [ ]:
df_clean.head()

  Kabupaten/Kota/Regency/Municipality  ...  Belanja/Expenditures
0                             Pacitan  ...          1.665549e+12
1                            Ponorogo  ...          2.322806e+12
2                          Trenggalek  ...          1.946047e+12
3                         Tulungagung  ...          2.800598e+12
4                              Blitar  ...          2.456663e+12

[5 rows x 3 columns]

Sekarang anda telah mendapatkan kolom dengan pattern yang mudah dibaca. Berikut akan di contohkan cara menyimpan data kedalam format .xlsx dan .csv.

In [ ]:
#convert DataFrame to .xlsx
df_clean.to_excel(path + 'convert_excel.xlsx', index=None) # tidak mengimpan index dari dataframe tersebut

In [ ]:
#convert DataFrame to .csv
df_clean.to_csv(path + 'convert_csv.csv', index=None) # tidak mengimpan index dari dataframe tersebut

Anda telah berhasil mengcovert pdf kedalam format .xlsx dan .csv. Selanjutnya anda dapat melihat data pada drive anda.

## Convert Pdf to Docx
Dalam mengconvert file pdf kedalam document file kita akan menggunakan module pdf2docx. Untuk lebih jelasnya perhatikan code dibawah ini.

In [ ]:
# Pilih directory tempat file pdf tersimpan
pdf_file = path + 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf'

# Pilih directory tempat data docx akan tersimpan, dan masukkan nama file untuk file document
docx_file = path + 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.docx' # nama file bisa diganti

# Convert pdf to docx
cv = Converter(pdf_file)

# Proses pdf dan pilih halaman yang akan di convert
cv.convert(docx_file, start=0, end=None) #convert pdf halaman pertama
cv.close()

Parsing Page 1: 1/1...Ignore Line "Table2.4.3 Realisasi Pendapatan dan Belanja Pemerintah Provinsi" due to overlap
Ignore Line "Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2018 dan" due to overlap

Creating Page 1: 1/1...
--------------------------------------------------
Terminated in 1.8176787410011457s.

Anda telah berhasil mengconvert pdf kedalam 2 format file yang berbeda. Untuk memastikan data sudah tersimpan, cek kembali data dalam directory anda.
> *membutuhkan sedikit waktu untuk save data ke dalam drive*

In [ ]:
os.listdir(path)

['Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf',
 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.docx']